ul {
    width: 700px;
    border: 1px solid #999999;
    padding-bottom: 10px;
}

li.closed a {
    color: #4183c4;
    text-decoration: none;
    border-bottom: 1px dashed #4183C4;
}

li.opened a {
    color: black;
    font-weight: bold;
    border-bottom: 1px dashed black;
}

.content {
    display: none;
}
